# ------------------------------------------------------------------------------
# Git
# ------------------------------------------------------------------------------

**/.git
**/.gitignore

# ------------------------------------------------------------------------------
# Node/PNPM
# ------------------------------------------------------------------------------

**/node_modules/

# ------------------------------------------------------------------------------
# Framework/Build Artifacts
# ------------------------------------------------------------------------------

**/.coverage/
**/.artifacts/
**/.cache/
**/.vscode/

**/dist/
**/logs/
